#content {
  // position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // margin: 12px;
  background-color: #ffffff;
  border-radius: 8px;
  // min-height: 760px;
}
#info {
    padding: 0 14%;
    margin-top: 50px;
  }
  #info img {
      width: 40%;
      float: left;
      border-radius: 10%;
  }
  #info ul {
    padding-left: 50px;
    font-size: 0;
  }
  #info ul li {
    color: #000;
  }
  #info .ant-avatar span {
    font-size: 50px;
  }
.setted {
  color: #52c41a;
}
.setted ion-icon {
  color: #52c41a;
}
.edit {
  color: #0987fe;
  cursor: pointer;
}
.edit i {
  color: #0987fe;
}
.unset {
  color: gold;
}
.unset i {
  color: gold;
}
.setted {
  color: #52c41a;
}
.setted ion-icon {
  color: #52c41a;
}
#ul {
    width: 88%;
    line-height: 50px;
    display: grid;
    // margin-left: 16%;
    margin: 0 auto;
  }
  #ul li {
    padding: 0 10%;
    border-bottom-style: inset;
  }
  #ul li span {
    font-weight: bold;
  }
  #ul li div {
    height: 100%;
    float: right;
  }
