<p id="btn" (click)="close()">
  <!-- <i nz-icon nzType="left" nzTheme="outline"></i> -->
  <ion-icon name="arrow-back"></ion-icon>
  {{parentCom}}
</p>

<p style="    padding-left: 24px;
    font-size: 16px;
    border-left: solid #0987fe;">基本信息</p>
<!-- 
<form nz-form>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>设备编号</nz-form-label>
    <nz-form-control [nzSpan]="12" [nzHasFeedback]="" [nzValidateStatus]="">
      <input nz-input name="code" [(ngModel)]="selectEditData[0].deviceid" [disabled]=" option=='edit' || option == 'preview'"
        placeholder="请输入唯一编号" />
      <nz-form-explain *ngIf="false">{{'编号已被使用'}}</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>设备名称</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input name="name" [(ngModel)]="selectEditData[0].devicename" [disabled]="option=='preview'" placeholder="请输入设备名称" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">报警数量</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-input-group nzAddOnAfter="次">
        <input type="text" name="quality" nz-input [(ngModel)]="selectEditData[0].sum" [disabled]="option=='preview'" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">报警总时长</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-input-group nzAddOnAfter="秒（s）">
        <input type="text" name="time" nz-input [(ngModel)]="selectEditData[0].timesum" [disabled]="option=='preview'" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
</form> -->


<div class="am-list-body">
    <InputItem name="code" [(ngModel)]="selectEditData[0].deviceid" [disabled]=" option=='edit' || option == 'preview'"
      [placeholder]="'请输入唯一编号'" [moneyKeyboardAlign]="'left'">设备编号
    </InputItem>
  </div>
  <div class="am-list-body">
    <InputItem name="name" [(ngModel)]="selectEditData[0].devicename" [disabled]="option=='preview'" [clear]="true" [placeholder]="'请输入策略名称'"
      [moneyKeyboardAlign]="'left'">设备名称
    </InputItem>
  </div>
  <div class="am-list-body">
      <InputItem name="code" [(ngModel)]="selectEditData[0].sum" [disabled]="option=='preview'"  [clear]="true" [moneyKeyboardAlign]="'left'">报警数量
      </InputItem>
    </div>
    <div class="am-list-body">
      <InputItem name="name" [(ngModel)]="selectEditData[0].timesum" [disabled]="option=='preview'" [clear]="true" 
        [moneyKeyboardAlign]="'left'">报警总时长
      </InputItem>
    </div>

<div style="margin: 24px;padding-left: 150px;" *ngIf="option != 'preview'">
  <button nz-button nzType="primary" style="margin-right: 8px;width: 95px" (click)="submit()">提交</button>
  <button nz-button style="width: 95px;margin-right: 8px" (click)="reset()">重置</button>
  <button nz-button style="width: 94px;" (click)="close()">取消</button>
</div>
