<ion-slides pager>
 
  <ion-slide>
    <img src="assets/img/slide/slide-1.png" />
  </ion-slide>
 
  <ion-slide>
    <img src="assets/img/slide/slide-2.png" />
  </ion-slide>
 
  <ion-slide>
    <img src="assets/img/slide/slide-3.png" />
  </ion-slide>
 
  <ion-slide>
    <ion-row>
        <ion-col>
            <img src="assets/img/slide/slide-4.png" />
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <div Button style="width:50%;margin:0 auto;" (click)="goToHome()" [size]="'small'" [type]="'primary'">立即启动</div>
        </ion-col>
    </ion-row>
  </ion-slide>
 
</ion-slides>